<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA49nLZpsFsApZU49oeWayADH0AiKp8A-M</string>
	<key>GCM_SENDER_ID</key>
	<string>500126735689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utsApplicationPiranti.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uts-piranti-caf80</string>
	<key>STORAGE_BUCKET</key>
	<string>uts-piranti-caf80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500126735689:ios:e375d7d032d8444ee3ce98</string>
</dict>
</plist>